LASTFM_API_KEY=your_api_key_here
AWS_PROFILE=myprofile
AWS_REGION=eu-north-1
AWS_ACCOUNT_ID=0123456789012
VITE_API_BASE_URL=https://YOUR_API_ID.execute-api.REGION.amazonaws.com
FRONTEND_FQDN=bandmap.example.com
HOSTED_ZONE_ID=ABCDEFGHIJKLMNOP
HOSTED_ZONE_NAME=example.com
FRONTEND_CERTIFICATE_ARN=arn:aws:acm:us-east-1:0123456789012:certificate/your_certificate_id_here
